html {
    background-color: #9bb4ca;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;

}

h1 {
    font-size: 45px;
    font-weight: 900;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
}

/* .nav-all controls banner image engulfing nav and search bar */

.nav-all {
    background: url("../images/banner.jpg") no-repeat center -75px;
    border-radius: 10px;
    box-shadow: 5px 5px #fff;
    padding: 1em;
}

.nav-box {
    display: inline-block;
    text-align: center;
}

.nav-image {
    width: 125px;
    margin-bottom: 5px;
}

/* margin auto and text-align style nav to center */

.main-nav {
    margin: auto;
    text-align: top;
    font-size: 1.25em;
}

.main-nav a {
    text-decoration: none;
    color: #41536b;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2.5px 5px;
}

.main-nav a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #41536b;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: none;
}

.nav-bar li {
    margin-bottom: 1.25em;
}

/* search bar styling */

.nav-search input {
    margin-bottom: 1.5em;
    border-radius: 5px;
    border: none;
    box-shadow: 2.5px 5px #41536b;
    text-align: center;
    width: 50%;
    padding: 5px;
}

.nav-search button {
    box-shadow: 2.5px 5px #41536b;
    border: none;
    border-radius: 2.5px;
    padding: 4px 5px;
    background-color: #fff;
    color: #41536b;
}

.nav-search button:hover {
    background-color: #41536b;
    color: #fff;
}

/* beginning of banner */

.top-ban {
    display: inline-block;
    text-align: center;
    margin: 1em;
    padding: 50px;
    background-color: #41536b;
    box-shadow: 5px 5px #fff;
    border-radius: 10px;
}

.top-ban h1,
.top-ban p {
    color: #fff;
}

h1 {
    padding-bottom: 5px;
}

.site-h1 {
    font-style: italic;
    margin: 0 12.5px 10px 12.5px;
    padding: 0 10px 5px 10px;
    border-bottom: 2.5px solid #9bb4ca;
}

.top-ban p {
    line-height: 25px;
}

.open-all {
    background-color: #fff;
    box-shadow: 5px 5px #41536b;
    border-radius: 10px;
    padding: 0 16px 16px 16px;
}

.learn-h2 {
    font-style: italic;
    color: #41536b;
    text-align: center;
    padding: 25px 0 15px 0;
    font-size: 55px;
}

.divider {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 5px 5px #41536b;
    border-radius: 10px;
}

/* targetting the specific text within both open divs */
/* lots of tomfoolery and excessive targetting here bare with me */

.open-container {
    display: flex;
    row-gap: 10px;
}

/* THIS IS THE "WHAT IS EVAN WATCHING/PLAYING CURRENTLY" SECTION */

.open-text {
    background-color: #a5afbb;
    flex-basis: 100%;
    border-radius: 10px;
}

.open-text h3 {
    font-size: 27.5px;
    text-align: center;
    line-height: 30px;
    padding: 10px;
}

.open-text p {
    font-size: 16px;
    text-align: center;
    line-height: 22.5px;
    padding: 10px;
    margin-top: 10px;
}

.open-text-two {
    background-color: #a5afbb;
    flex-basis: 100%;
    border-radius: 10px;
    margin-right: 10px;
}

.open-text-two h3 {
    font-size: 29px;
    text-align: center;
    padding: 10px;
}

.open-text-two p {
    font-size: 16px;
    text-align: center;
    line-height: 22.5px;
    margin-top: 10px;
    padding: 10px;
}

.para-hover:hover {
    transition-duration: 1s;
    color: #fff;
    background-color: #41536b;
}

/* hides longer text for easy formating */

.hidden-mob {
    display: none;
}

/* ^^^ upper hidden class is meant for web sizing */


/***** BLOG SECTION FOR BLOGGING ******/

.blog-tit {
    font-size: 45px;
    margin: 25px 0;
    color: #fff;
    font-style: italic;
}

.div-flex {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.div-flex img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.blog-grid-one,
.blog-grid-two {
    background-color: #41536b;
    color: #fff;
    padding: 30px 20px;
    border-radius: 0 0 10px 10px;
}

.blog-grid-one {
    margin-bottom: 10px;
}

.blog-grid-one p,
.blog-grid-two p {
    line-height: 1.25em;
}

.blog-grid-one h3,
.blog-grid-two h3 {
    font-size: 40px;
    font-weight: 600;
}

.blog-grid-one h4 {
    color: rgb(255, 210, 62);
    text-shadow: 0 0 10px #fff;
}

.blog-grid-one h4,
.blog-grid-two h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5em;
}

/* link (styling) to past rankings */

.rank-link {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding-left: 20px;
    margin-top: 5px;
}

.rank-link:hover {
    display: inline-block;
    color: #41536b;
    font-size: 14px;
    text-decoration: none;
}

.big-sec-mar {
    margin: 1em;
}

.random-all {
    background-color: #41536b;
    color: #fff;
    padding: 10px;
}

.random-two {
    margin-bottom: 30px;
}

.warning {
    margin-top: 10px;
}

.site-footer {
    width: 100%;
    font-size: 12px;
    color: #41536b;
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}